body {
  background: #0a0a0a;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  height: 101vh;
  background: #081041;
  color: #fffbe2;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-family: "Oswald", sans-serif;
  flex-wrap: wrap;
  margin: 1em;
}

.holder {
  padding: 20px;
  border-radius: 15px;
}

.entry {
  position: relative;
  background: rgba(59, 74, 107, 0.4);
  font-size: 1em;
}

#generate {
  width: 6em;
  height: 3em;
}

.headline {
  font-size: 3em;
  letter-spacing: 2px;
}

.feel {
  position: relative;
}

.zip {
  position: relative;
  left: -4em;
}

.title {
  font-size: 1.5em;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 1em;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #607d8b;
  color: #000;
  font-size: 1.8em;
  font-family: "Oswald", sans-serif;
  border-radius: 15px;
  margin: 0.4em;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

button {
  background: #3b4a6b;
  color: #fff;
  font-size: 1.4em;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  margin: 2em;
}
h1 {
  font-size: 4.4em;
}

textarea {
  background: #607d8b;
  color: #000;
  font-size: 1.8em;
  font-family: "Oswald", sans-serif;
  border-radius: 15px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #ccc;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
  font-family: "Oswald", sans-serif;
}
